doctype html
html
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
            link(href="/css/style.css" rel="stylesheet")
            link(rel="shortcut icon" type="image/png" href="img/favicon.png")
            script(src= "https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer)
            script(src= "/js/index.js" defer) 
            title Natours | #{title ? title : tour ? tour.name : "Exciting tours for adventurous people"}

    body
        //- Header
        include _header
        //- Content
        block content
            h1 This is the placeholder heading

        //- Footer
        include _footer
